<div id="pjax-container">
 <%= case params[:form_type] 
   when "general"
     render "signed/users/manage_forms/general"
   when "status"
     render "signed/users/manage_forms/status"
   else
     render "signed/users/manage_forms/general"
   end
 %>
</div>
