<div id="pjax-container" class="hero-unit" adjustTd=true>
 <%= case params[:form_type] 
   when "general"
     render "signed/users/manage_forms/general"
   when "status"
     render "signed/users/manage_forms/status"
   when "edit_wall_profile"
     render "signed/users/settings_walls/edit_wall_profile"
   when "sort_about_me_list"
     render "signed/users/settings_walls/sort_about_me_list"
   when "profile_photos"
     render "signed/users/settings_walls/profile_photos"
   when "manage_connections"
     render "signed/users/connections/manage_connections"
   when "lists_update"
     render "signed/users/connections/lists_update"
   else
     render "signed/users/manage_forms/general"
   end
 %>
</div>
