
$('#create_chronicles_form').replaceWith("<div id='create_chronicles_form'><%= escape_javascript(render :partial => "signed/users/chronicles/create_chronicles") %></div>");

$('#edit_chronicle_title').replaceWith("<div id='edit_chronicle_title'><%= escape_javascript(render :partial => "signed/users/chronicles/edit_chronicles") %></div>");

