$("#circle_about_and_members").replaceWith("<div id='circle_about_and_members'><%= escape_javascript(render :partial => "signed/users/circles/circle_members") %></div>");
setTimeout(function(){circle_replace()},1000);
