<div style="background-color:#E8E8E8; min-height:20px;width:82%;font-weight:normal">Circle Owner</div><br>
<%= link_to(image_tag(@circle.user.profile_image_thumb), signed_user_path(:id => @circle.user_id) ) %>
<% user_name = @circle.user.display_name.blank? ? @circle.user.first_name.capitalize + " " + @circle.user.last_name.capitalize : @circle.user.display_name.capitalize %>
<%= link_to user_name, signed_user_path(:id => @circle.user_id), :class => "common_link_font" %>
<br><br>
<div style="background-color:#E8E8E8; min-height:20px;width:82%;font-weight:normal">Circle Activity</div><br>
<span class="span_content">Total Posts-0</span>
<br><br>
<div style="background-color:#E8E8E8; min-height:20px;width:82%;font-weight:normal">About Circle</div><br>
<span class="span_content"><%= @circle.short_description %></span>
