<script>
  var circleID = "<%= @circle.id %>";
  var page = 1;
  function circle_replace() {
    $.ajax({
      url: "/signed/users/circle_members_replace",
      data: {circle_id: circleID, page: page },
      dataType: 'script'
    });
  }

</script>

<div class="well well-small" style="max-width:800px;">
   <h6>Social Circle Members</h6>
</div>

   <table class="noborder">
    <% @circle_users.each do |us| %>
       <tr>
       <%= render "signed/users/circles/circle_members_name",:us => us %>
      </tr>
    <% end %>
     <tr id="circle_members_replace"></tr>
  </table>
<br></br>
