<td class="span5" id="td_latest_unread_messages">
 <div class="hero-unit" adjustTd=true >
  <div id="new_message">
   <%= render "latest_unread_messages", :messages => @messages%>
  </div>
 </div>
</td>

<td class="span5" style="display: none" id="friends_listing">
 <div class="hero-unit" adjustTd=true>
  <div id="all_friends">
    <%= render "all_friends_list", :friends => current_user.my_friends %>
  </div>
 </div>
</td>

<td class="span5" style="display: none" id="td_reply_message">
 <div class="hero-unit" id="reply_message" adjustTd=true ></div>
</td>
