 $("#all_friends").replaceWith("<div id='all_friends'><%= escape_javascript(render 'all_friends_list', :friends =>  @connections_list ) %></div>");
 
  $("#new_message").replaceWith("<div id='new_message'><%= escape_javascript(render 'latest_unread_messages', :messages =>  @messages ) %></div>");


$("#td_reply_message").hide();
