<script>
  <% if @title %>
     $("#user_select_item").html("<%= @title %>");
  <% end %>
</script>
<table class="span21">
 <tr>
  <td class="span4" style="min-width: 250px;"><%= render "messages_left_panel" %></td>
  <%= render "index" %>
 </tr>
</table>
