<% begin %>
  	<p>
	  <a class="group1" href="<%= feed.feed_zooms %>" >
		 <%= feed.feed_image.nil? ? "" : (image_tag feed.feed_images) %>
	  </a>
	</p>
   <% rescue %>
     <span class="span_content"> Photo not found or removed at source.</span>
<% end %>
<br>