<script>
function createFavorite(emotId) {
 $.ajax({
      url: "/signed/feeds/emotions_tag",
      data: {feed_id: emotionId, type_id: emotId, update_tag: {favorite: true} },
      dataType: 'script'
    });
}
</script>

<div id="myemotionsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style = "width :320px">

  <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="cboxClose" ></button>
   <h6 id="myModalLabel">Pin-it and review later </h6>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <% EmotionType.each do |et| %>
        <div class="span10">
          <div class="row-fluid">
            <% (et.emotions.order_by "order ASC").each do |emotion| %>
              <% img = image_tag(emotion.emotion_image, :title => "#{emotion.name}") %>
    <a href="#" onClick="createFavorite($(this).attr('id'));" id=<%=emotion.id.to_s %>><%= img + " " + "#{emotion.name}" %></a>
              <br><br>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
