<div class="nav">
  <img src="/img/homepage_logo.png"  width="200" height="50" />
</div>

<div class="container">
  <div class="row-fluid">
    <h5>A link has been sent to this email account ,kindly follow the instructions to reset your password  </h5><br>
    <%= link_to 'Back to Login Page', unsigned_home_index_path %>
  </div>
</div>





