
<div id="errors_forgot_password">
  <div class="nav">
    <img src="/img/homepage_logo.png"  width="200" height="50" />
  </div>
  <div class="container">
    <div class="row-fluid">
      <div class="span2">
      </div>
      <div class="span8">
        <%= render "shared/flash_messages" %>
        <div id="display">
          <% if @errors.nil? %>
            <h2> Forgot Password</h2>
            <h6>Please enter the login email address and we will send you a link to reset your password<h6><br>
            <%= render "unsigned/home/forgot_password_form" %>
          <% else %>
            <h2> Forgot Password</h2>
            <h6>Please enter the login email address and we will send you a link to reset your password<h6><br>
            <%= render "unsigned/home/forgot_password_form" %>
          <% end %>
        </div>
          <%= link_to 'Back to Login Page', unsigned_home_index_path %>
      </div>
      <div class="span2">
      </div>
    </div>
  </div>
</div>



