<%= render('shared/flash_messages') %>

<div class="nav">
  <img src="/img/homepage_logo.png"  width="200" height="50" />
</div>

<div id="account_compromised">
  <%= render "account_compromised_partial" %>
</div>




