<% if @user  %>
  $("#account_compromised").replaceWith("<div id='account_compromised'><%=escape_javascript(render(:partial => 'unsigned/home/account_compromised_update'))%> </div>");

<% else %>
  $("#account_compromised").replaceWith("<div id='account_compromised'><%= escape_javascript(render(:partial => 'unsigned/home/account_compromised_partial')) %> </div>");

<% end %>

