<% if @user.login.errors.empty? %>
   $("#form-holder").replaceWith("<div id='form-holder'><%=escape_javascript(render(:partial => 'change_password_success'))%> </div>");
<% else %>
   $("#form-holder").replaceWith("<div id='form-holder'><%=escape_javascript(render(:partial => 'change_password_form'))%> </div>");
<% end %>
