<div class="nav">
  <img src="/img/homepage_logo.png"  width="200" height="50" />
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span2">
    </div>
    <div class="span8">
      <div id="uname"><%= render "home/forgot_username_form" %>
      </div>
       <%=link_to "Back",root_path %>
    </div>
    <div class="span2">
    </div>
  </div>
</div>


