<h3 style="font-size:150%;color:#2C4762">You Are Registered</h3>


<h5> Activation link has been sent to your email </h5>

<h5>click that link to activate your account</h5><br><br><br>

<h6>If you have not received any activation link please click </h6><%=link_to "Click Here",resend_email_home_index_path%></h5>
