<%= form_tag(resend_email_click_unsigned_home_index_path, :method=>'post') do %>
  <h5>Please Enter Your Registered Email in order to Send Verfication Email Again...</h5>
  <br/>
  <label>Email: </label>
  <%= text_field_tag :email,'', :class => "input-large", :placeholder => "Email",:label =>"Email" %>
  <br/><br/>
  <%= submit_tag "Send Verification Again", :class => "btn btn-primary "%>
  <%=link_to "Go back", root_path %>
<% end %>



