<div class = "span18">   
<div class ="span2">
<%= link_to "All", "#"  %></div> 
  <div class =span16>
  <img src="/img/Emotions/enabled_disabled/Angry_E.png"/>
  <img src="/img/Emotions/enabled_disabled/Awesome_E.png"/>
  <img src="/img/Emotions/enabled_disabled/Creepy_E.png"/>
  <img src="/img/Emotions/enabled_disabled/Funny_E.png"/>
  <img src="/img/Emotions/enabled_disabled/Lovely_E.png"/>
  <img src="/img/Emotions/enabled_disabled/OMG_E.png"/>
  <img src="/img/Emotions/enabled_disabled/Sad_E.png"/>
  <img src="/img/Emotions/enabled_disabled/Yukky_E.png"/>
</div>
</div>
