<table class="span21" style="overflow: auto;" id="my_feeds_index">
   <tr>
     <td style="min-width: 250px;"><%= render "left_panel" %></td>
     <%= render "form_scripts" %>
	 <%= render "index" %>
   </tr>
</table>
