<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to rasaha, <%= @user.login.email %></h1>
    <p>

     To reset your password, just follow this link: <%= set_password_unsigned_home_index_url(:token => @user.verification_token,:host =>"www.rasaha.com") %>.

    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
