<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to relaylife, <%= @user.login.email %></h1>
    <p>
      You have successfully signed up to relaylife.<br/>
    </p>
    <p>
      To verify to the site, just follow this link:  <%=  verify_email_unsigned_home_index_url(:token => @user.verification_token, :host =>"www.relaylife.com" ) %>.
    </p>
    <p>Thanks for joining!</p>
  </body>
</html>




