<script>
  var current_id = '';

  delete_detail = function(cid, type) {
    $.ajax({
      url: "/signed/users/delete",
      data: { edit_id : current_id, id : $(cid).attr('id'), type : type, partial_name : "manage_connections" },
      dataType: 'script'
    });
  };
</script>


<div>
  <%=render :partial=>"signed/users/connections/create_category"%>

</div>

<div>
    <%=render :partial=>"signed/users/connections/edit_category"%>
</div>
